@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* import cool bold font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


html {
    /* bacground image always cover whole site */
    background: url(bg.webp) no-repeat fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
}

h1 {
    padding-top: 4%;
    font-size: 5em;
    font-family: 'Courgette', sans-serif !important;
}

.card {
    background: rgba(230,230,230, 0.069);
    backdrop-filter: blur(3px) ;
    padding: 0;
}

.mail {
 margin: 3%;
}

.card-title {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif !important;
}

.modal, .modal-footer {
    background: rgba(230,230,230, 0.2137) !important;
    backdrop-filter: blur(123px) ;
}
.modal-footer a {
    color: white ;
}

.divider {
    margin-top: 2%;
    margin-bottom: 2%;
}

.title {
    background-image: url(img/tabliczka.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}