@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    min-height: 100%;
    min-width: 100%;
    background-color: #1e1e1e;
    background-image: url(bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 2%;
    font-size: 5em;
    font-family: 'Courgette', sans-serif !important;
}

.card {
    background: rgba(230,230,230, 0.109);
    backdrop-filter: blur(10px) ;
    padding: 0;
}

.mail {
 margin: 2%;
}